@model HomeVM
    <div id="all">
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                    Grupprum
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    @foreach (var item in Model.RoomItems)
                    {
                        <li><a href="javascript:getCalendar(@item.Value)">@item.Text</a></li>
                    }
                </ul>
            </div>
            <center><div id="title">Lovelace</div></center>
            <!--Rum ikoner-->
            <div id="roomcontent">
                <a href="#" target="blank">
                    <div class="hvrbox">
                        <img src="tv-icon.png" alt="Mountains" class="hvrbox-layer_bottom">
                        <div class="hvrbox-layer_top">
                            <div class="hvrbox-text">TV</div>
                        </div>
                    </div>
                </a>
                <a href="#" target="blank">
                    <div class="hvrbox">
                        <img src="projector-icon.png" alt="Mountains" class="hvrbox-layer_bottom">
                        <div class="hvrbox-layer_top">
                            <div class="hvrbox-text">Projektor</div>
                        </div>
                    </div>
                </a>
                <a href="#" target="blank">
                    <div class="hvrbox">
                        <img src="whiteboard-icon.png" alt="Mountains" class="hvrbox-layer_bottom">
                        <div class="hvrbox-layer_top">
                            <div class="hvrbox-text">Whiteboard</div>
                        </div>
                    </div>
                </a>
                </div>

                <div class="container">
                    <hr>
                    <div id="calendar">
                    </div>
                </div>
</div>
