@model UpdateRoomVM

<center>
    <h1>Redigera rum</h1>
    <form asp-controller="home" asp-action="UpdateRoom">
        <label asp-for="RoomName"></label>
        <input asp-for="RoomName" />
        <span asp-validation-for="RoomName"></span>
        <br />
        <br />
        <label asp-for="Capacity"></label>
        <input asp-for="Capacity" />
        <span asp-validation-for="Capacity"></span>
        <br />
        <br />
        <label asp-for="HasWhiteBoard"></label>
        <input asp-for="HasWhiteBoard" />
        <span asp-validation-for="HasWhiteBoard"></span>
        <br />
        <br />
        <label asp-for="HasProjector"></label>
        <input asp-for="HasProjector" />
        <span asp-validation-for="HasProjector"></span>
        <br />
        <br />
        <label asp-for="HasTvScreen"></label>
        <input asp-for="HasTvScreen" />
        <span asp-validation-for="HasTvScreen"></span>
        <br />
        <br />
        <input type="submit" value="Uppdatera" />
    </form>
    <br />
    <br />
</center>

