@model CreateUserVM
<script>$(document).ready(function () { hideAdmin(); });</script>
<script>$(document).ready(function () { hideSettings(); });</script>
<center>
    <div id="all">
        <h1>Skapa användare</h1>
        <form class="form-inline" asp-controller="account" asp-action="CreateUser">
            <div class="form-group">
                <label asp-for="UserName"></label>
                <input class="form-control" asp-for="UserName" />
                <span asp-validation-for="UserName"></span>
                </div>
                <br />
                <br />
            <div class="form-group">
                <label asp-for="Password"></label>
                <input type="password" id="password" class="form-control" asp-for="Password">
                <span asp-validation-for="Password"></span>
                </div>
                <br />
                <br />
            <div class="form-group">
                <label asp-for="FirstName"></label>
                <input class="form-control" asp-for="FirstName" />
                <span asp-validation-for="FirstName"></span>
                </div>
                <br />
                <br />
            <div class="form-group">
                <label asp-for="LastName"></label>
                <input class="form-control" asp-for="LastName" />
                <span asp-validation-for="LastName"></span>
                </div>
                <br />
                <br />
            <div class="form-group">
                <label asp-for="Category"></label>
                <select class="form-control" asp-for="Category">
                    <option value="Student">Student</option>
                    <option value="Lärare">Lärare</option>
                </select>
                <span asp-validation-for="Category"></span>
                </div>
                <br />
                <br />
                <input id="button" class="btn btn-success" type="submit" value="Skapa" />
</form>
        <br />
        <a href="/account/index"><input id="button" class="btn btn-success" type="submit" value="Avbryt" /></a>
    </div>
</center>
