@model IndexVM


    <title>Login</title>

    <h1>Login</h1>
    <form asp-controller="account" asp-action="index">
        <label asp-for="UserName"></label>
        <input asp-for="UserName" />
        <span asp-validation-for="UserName"></span>
        <br />
        <label asp-for="Password"></label>
        <input asp-for="Password" />
        <span asp-validation-for="Password"></span>
        <br />
        <br />
        <input type="submit" value="Logga in" />
    </form>
<br />
<a href="/account/CreateUser">Skapa användare</a>
